.main {
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: light-dark(#000000, #ffffff);
}

.return-link {
  margin-bottom: 20px;
}

.report-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.report-download {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.report-buttons {
  display: flex;
  align-items: center;
  border: 1px solid #dce4ec;
  border-radius: 8px;
  padding: 15px 20px;
  flex: 1 1 45%;
  min-width: 250px;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.report-buttons:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.report-buttons ii {
  font-size: 24px;
  color: #72797e;
  margin-right: 15px;
}

.report-buttons p {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.generate-report-btn {
  background-color: light-dark (#05192e, #0d3c6b);
  border: none;
  border-radius: 6px;
  padding: 16px 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.generate-report-btn:hover {
  transform: translateY(-2px);
}
