.faq {
  .cont {
    padding: 20px;
    margin: 50px;
    line-height: 1.7;
  }

  li {
    text-align: left;
  }

  h3 {
    font-size: 28px;
    padding: 10px;
    text-align: center;
    margin: 0;
    font-style: italic;
  }

  h4 {
    margin: 18px 0;
    font-size: 25px;
  }

  h5 {
    margin: 18px 0;
    font-size: 19px;
  }
}
