.footer {
  padding: 150px 100px;
  background-color: light-dark(#668670, #1e2c29);
  position: relative;
  text-align: center;
  width: 100%;
  display: flex;
  clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 100%);
}

.footer-content {
  max-width: 900px;
  margin: 0 auto;
}

.footer-content p {
  font-size: 30x;
  letter-spacing: 0.5px;
  line-height: 1.8;
  color: #ffffff;
}

.footer-content a {
  font-style: italic;
  font-weight: 500;
}

.footer-content a:hover {
  text-decoration: underline;
}

/* Responsivness */
@media screen and (max-width: 768px) {
  .footer {
    padding: 80px 20px;
  }

  .footer-content p {
    font-size: 16px;
  }
}
