.impact-grid {
  display: grid;

  gap: 1.5rem;
  margin-top: 2rem;
}

.impact-card {
  background: light-dark(#f8f6f1, #2b2b2e);
  border-radius: 10px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.impact-card i {
  font-size: 20px;
  color: #25931d;
}
.impact-card:hover {
  transform: translateY(-5px);
}

.impact-card h3 {
  margin: 0.5rem 0;
  font-size: 1.8rem;
}

.impact-card p {
  font-size: 0.95rem;
}

/* Responsiveness */

@media screen and (max-width: 768px) {
  .impact-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 1.5rem;
  }

  .impact-card {
    padding: 1.2rem;
  }

  .impact-card h3 {
    font-size: 1.4rem;
  }

  .impact-card p {
    font-size: 0.9rem;
  }
}
