/* Container */

.middle {
  font-size: 35px;
  text-align: center;
  padding: 50px 60px 60px 60px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.057);
  margin: 50px 100px 50px 100px;
}

.middle h3 {
  font-size: 14px;
  font-weight: 400;
}

/* Input */

.input-box {
  position: relative;
  margin-bottom: 22px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
}

.input-box input {
  width: 50%;
  height: 50px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #f6f6f6;
  outline: none;
  font-size: 16px;
  padding: 0 5px;
  color: light-dark(#2b2b2b, #c5c5c5);
  transition: border-color 0.5s;
}

.input-box input::placeholder {
  color: light-dark(#2b2b2b, #c5c5c5);
  font-style: italic;
}

.input-box input:focus,
.input-box input:valid {
  border-bottom-color: light-dark(#656c5c, #8aa377);
}

/* Labels  */

.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  color: #bbb;
  pointer-events: none;
  transition: 0.3s;
}

/* Icons */

.input-box i{
  position: left;
  right: 0;
  top: 50%;
  transform: translateY(-10%);
  font-size: 18px;
  transition: color 0.3s;
  color: light-dark(#2b2b2b, #c5c5c5);
}

.input-box input:focus ~ i,
.input-box input:valid ~ i {
  color: light-dark(#656c5c, #8aa377);
}

/* Button */

.sub-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  height: 10vh;
}
.btn {
  width: 30%;
  height: 48px;
  border: none;
  border-radius: 30px;
  background-color: light-dark(#fef7e4, #2a3631);
  font-size: 17px;
  cursor: pointer;
  transition: 0.4s;
}

.btn:hover {
  background-color: light-dark(#8aa377, #656c5c);
}

/* Link */

.print {
  text-align: left;
  font-size: 14px;
  margin-top: 10px;
  text-decoration: none;
  transition: 0.3s;
  display: inline-flex;
}

.print:hover {
  text-decoration: underline;
}

.signup_link {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

/* Message */

.error-message {
  font-size: 14px;
  text-align: center;
  margin-top: 8px;
}

.return_home {
  text-align: left;
  font-size: 14px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .middle {
    margin: 20px;
    padding: 30px 20px 40px 20px;
  }

  .input-box input {
    width: 80%;
  }

  .btn {
    width: 60%;
  }
  
}