@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Iansui&family=Indie+Flower&display=swap");

:root {
  font-family: "Iansui", cursive;
  font-weight: 400;
  font-style: normal;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

body {
  background-color: light-dark(#ffffff, #1d1d1d);
  color: light-dark (rgba(255, 255, 255, 0.87), rgba(0, 0, 0, 0.87));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}
