@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Iansui&family=Indie+Flower&display=swap");

:root {
  font-family: "Iansui", cursive;
  font-weight: 400;
  font-style: normal;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  --cb-bg: light-dark(#fffefc, #2c2c2c);
  --cb-border: light-dark(#ccc, #444);
  --cb-text: light-dark(#333, #ddd);
  --cb-accent: #53835e;      
  --cb-accent-hover: #619a6f;
  --cb-user: light-dark(#e6ede9, #2a4b38);
  --cb-bot: light-dark(#f1f5f9, #3a3a3a);
  --cb-muted: light-dark(#6b7280, #b0b0b0);
  --radius: 12px;
  --shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}

body {
  background-color: light-dark(#ffffff, #1d1d1d);
  color: light-dark (rgba(255, 255, 255, 0.87), rgba(0, 0, 0, 0.87));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}
